.ouline-none {
    outline: none;
}

.pointer {
    cursor: pointer;
}

.font-size-h1 {
    font-size: 70px;
}

.fs-10 {
    font-size: 13px;
}


.bg-img {
    background-image: url("https://images.ctfassets.net/rxqefefl3t5b/6I2vL9f0IVsDQ8qFgdrxH7/7660c4bab3116a4a04025d5c4802efa5/Virgin-Red-online-shopping-offers.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-shopping,
.btn-cart {
    border: 5px solid;
    padding: 20px;
    width: 40%;
    background-color: white;
    margin-inline: 2.5%;
}

.btn-shopping {
    border-image: linear-gradient(to top right, rgb(0, 139, 137), rgb(204, 50, 186)) 1;
}

.btn-shopping:hover {
    background: linear-gradient(to top right, rgb(0, 139, 137), rgb(204, 50, 186));
    border: none;
    padding: 25px;
    color: white;
}

.btn-cart {
    border-image: linear-gradient(to top right, rgb(26, 169, 78), rgb(60, 42, 161)) 1;
}

.btn-cart:hover {
    background: linear-gradient(to top right, rgb(26, 169, 78), rgb(60, 42, 161));
    border: none;
    padding: 25px;
    color: white;
}

.w-md {
    width: 50px;
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    .font-size-h1 {
        font-size: 100px;
    }

    .fs-10 {
        font-size: 15px;
    }
}